*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
}
html{
    height: 100vh;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
header img {
    width: 250px;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
}

label {
    font-size: 18px;
    margin-right: 10px;
    color: #333;
}

input[type="number"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #F02D3A;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #dc5f67;

}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    color: #fff;
    padding: 5px 0;
    text-align: center;
    justify-content: center;
}
footer span{
    font-size: 0.5rem;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoAxe{
    width: 25px;
    margin-left: 5px;
}
